HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

secrets-dev.properties

/docker/loki/data/*
!/docker/loki/data/chunks/.gitkeep
!/docker/loki/data/index/.gitkeep
!/docker/loki/data/index_cache/.gitkeep
!/docker/loki/data/compactor/.gitkeep
!/docker/loki/data/wal/.gitkeep

docker

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode
